* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #FFF;
      color: white;
    font-family: "Times New Roman", sans-serif;
}

.block__blueviolet {
  width: 200px;
  height: 150px;
  background-color: blueviolet;
  position: static;
  margin: 10px 0 0 10px;
}

.block__darkred {
  width: 200px;
  height: 150px;
  background-color: darkred;
  position: relative;
  margin: 0 0 0 10px;
}

.block__peru {
  width: 200px;
  height: 150px;
  background-color: peru;
  position: relative;
  left: 50px;
  top: -50px;
}

.block__indianred {
  width: 600px;
  height: 350px;
  background-color: indianred;
  position: relative;
  margin: 0 0 300px 10px;
  top: -10px;
}

.block_indigo {
  width: 300px;
  height: 200px;
  background-color: indigo;
  position: absolute;
  right: 0px;
  bottom: 70px;
}

.block__forestgreen {
  width: auto;
  height: 150px;
  background-color: forestgreen;
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}
