* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #FFF;
    font-family: "Times New Roman", sans-serif;
}

.container {
  background-color: aqua;
  color: #000;
  display: flex;
  flex-direction: row;
  border: 1px green solid;
  margin: 10px;
}

.block__bisque {
  background-color: bisque;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  max-width: 30%;
  min-width: 120px;
  float: left;
}

.block__bisque ul {
  margin: 0 40px;
}

.long__text img {
  float: right;
  width: 50%;
  min-width: 200px;
}

.long__text {
  background-color: darkgray;
  max-width: 70%;
  width: 100%;
  min-width: 400px;
}

.long__text p {
  clear: both;
}

.long__text p:first-of-type {
  clear: left;
}
