* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #FFF;
    color: black;
    font-family: "Times New Roman", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: auto;
}

.LeftSide {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.block__bisque {
  width: 200px;
  height: 100px;
  background-color: bisque;
  display: flex;
  align-items: center;
}

.block__bisque ul {
  margin: 0 0 0 40px;
}

.block__aqua {
  width: 200px;
  flex-grow: 1;
  background-color: aqua;
}

main {
  flex-grow: 1;
  background-color: darkgray;
}

footer {
  background-color: forestgreen;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
}
